body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: 'Lakki Reddy', cursive;
}

.prices {
  padding-top: 20px;
}

.prices ul {
  font-size: 17px;
}

.toppings p {
  font-size: 17px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: thin solid black;
}
input[type='checkbox']:checked {
    background: red;
}

#submit {
  margin-top: 15px;
}

.bottom {
  display: none;
  font-size: 60px;
}

#form2 {
  display: none;
}

.output {
  display: none;
}

.first h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Permanent Marker', cursive;
}

.first p {
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}
